---
name: Agent DVR
version: 17.2
slug: agent_dvr
description: AgentDVR server
url: https://github.com/kdosiodjinud/homeassistant-addons/tree/master/agent-dvr
codenotary: kdosiodjinud@gmail.com
startup: system
ingress: true
ingress_port: 8090
ingress_stream: false
host_network: true
panel_icon: mdi:camera
panel_title: Kamery
panel_admin: false
init: false
arch:
  - amd64
ports:
  8090/tcp: 8090
  3478/tcp: 3478
  3478/udp: 3478
  50000/udp: 50000
  50001/udp: 50001
  50002/udp: 50002
  50003/udp: 50003
  50004/udp: 50004
  50005/udp: 50005
  50006/udp: 50006
  50007/udp: 50007
  50008/udp: 50008
  50009/udp: 50009
  50010/udp: 50010
  50011/udp: 50011
  50012/udp: 50012
  50013/udp: 50013
  50014/udp: 50014
  50015/udp: 50015
  50016/udp: 50016
  50017/udp: 50017
  50018/udp: 50018
  50019/udp: 50019
  50020/udp: 50020
  50021/udp: 50021
  50022/udp: 50022
  50023/udp: 50023
  50024/udp: 50024
  50025/udp: 50025
  50026/udp: 50026
  50027/udp: 50027
  50028/udp: 50028
  50029/udp: 50029
  50030/udp: 50030
  50031/udp: 50031
  50032/udp: 50032
  50033/udp: 50033
  50034/udp: 50034
  50035/udp: 50035
  50036/udp: 50036
  50037/udp: 50037
  50038/udp: 50038
  50039/udp: 50039
  50040/udp: 50040
  50041/udp: 50041
  50042/udp: 50042
  50043/udp: 50043
  50044/udp: 50044
  50045/udp: 50045
  50046/udp: 50046
  50047/udp: 50047
  50048/udp: 50048
  50049/udp: 50049
  50050/udp: 50050
  50051/udp: 50051
  50052/udp: 50052
  50053/udp: 50053
  50054/udp: 50054
  50055/udp: 50055
  50056/udp: 50056
  50057/udp: 50057
  50058/udp: 50058
  50059/udp: 50059
  50060/udp: 50060
  50061/udp: 50061
  50062/udp: 50062
  50063/udp: 50063
  50064/udp: 50064
  50065/udp: 50065
  50066/udp: 50066
  50067/udp: 50067
  50068/udp: 50068
  50069/udp: 50069
  50070/udp: 50070
  50071/udp: 50071
  50072/udp: 50072
  50073/udp: 50073
  50074/udp: 50074
  50075/udp: 50075
  50076/udp: 50076
  50077/udp: 50077
  50078/udp: 50078
  50079/udp: 50079
  50080/udp: 50080
  50081/udp: 50081
  50082/udp: 50082
  50083/udp: 50083
  50084/udp: 50084
  50085/udp: 50085
  50086/udp: 50086
  50087/udp: 50087
  50088/udp: 50088
  50089/udp: 50089
  50090/udp: 50090
  50091/udp: 50091
  50092/udp: 50092
  50093/udp: 50093
  50094/udp: 50094
  50095/udp: 50095
  50096/udp: 50096
  50097/udp: 50097
  50098/udp: 50098
  50099/udp: 50099
  50100/udp: 50100
watchdog: http://[HOST]:8090/
backup_exclude:
  - /AgentDVR/Media/WebServerRoot/Media/
  - /data/Media/WebServerRoot/Media/
