# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Playwright test outputs
test-results/
screenshot-final.jpg
playwright-report/
videos/

# Env files (pokud používáš)
.env
.env.local
.env.*.local

# VSCode nastavení (volitelné)
.vscode/

